#wp__content .section-category-product {
  background-color: var(--main-color);
}

#wp__content .section-category-product {
  margin-bottom: 20px;
  padding: 30px 0;
}

#wp__content .section-category-product .container-category-filter .header__option-filter .title__option-filter {
  padding: 5px 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#wp__content .section-category-product .container-category-filter .list__option-filter {
  padding-left: 10px;
  height: 100vh;
  overflow-y: auto;
}

#wp__content .section-category-product .container-category-filter .list__option-filter::-webkit-scrollbar {
  width: 5px;
}

#wp__content .section-category-product .container-category-filter .list__option-filter::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 10px;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-item {
  margin-bottom: 10px;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-title {
  display: block;
  padding: 10px 0;
  font-size: .9rem;
  font-weight: bold;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-content .option__filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  position: relative;
  font-size: .8rem;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-content .option__filter-item .input-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--secondary-textColor);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-content .option__filter-item input:checked ~ .input-checkbox::after {
  content: "";
  width: 8px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 5px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-bottom: 2px solid var(--secondary-textColor);
  border-right: 2px solid var(--secondary-textColor);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-content .option__filter-item label {
  cursor: pointer;
}

#wp__content .section-category-product .container-category-filter .list__option-filter .option__filter-content .option__filter-item label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 6px;
}

#wp__content .section-category-product .container-category-list .container-category__list-top {
  background-color: #f6f6f6;
  padding: 20px;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-title {
  margin-bottom: 15px;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-title span.name__category {
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-title span.num__prod {
  color: #a0a0a0;
  font-size: .8rem;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group .option__item {
  overflow: hidden;
  padding: 7px 14px;
  background-color: var(--main-color);
  margin-right: 10px;
  border: 1px solid #c9c9c9;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group .option__item a {
  color: var(--secondary-textColor);
  font-size: .7rem;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group .option__item.active {
  border-color: var(--main-textColor);
  position: relative;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group .option__item.active::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -11px;
  width: 25px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000;
}

#wp__content .section-category-product .container-category-list .container-category__list-top .wp-category__top-body .list__option-group .option__item.active::before {
  content: "+";
  position: absolute;
  color: var(--main-color);
  top: -2px;
  right: 0px;
  z-index: 1;
}

#wp__content .section-category-product .container-category-list .container-category__list-bottom .section-content.section--selling-prod .block__footer {
  margin-top: 30px;
}

#wp__content .section-category-product .container-category-list .container-category__list-bottom .section-content.section--selling-prod .block__footer .pagination .pagination-item {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: var(--primary-color);
  border: 1px solid #eaeaea;
  border-radius: 100%;
  margin: 0 3px;
  -webkit-box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);
  font-size: .9rem;
}
/*# sourceMappingURL=category.css.map */